# Python
backend/venv/
backend/__pycache__/
backend/uploads/*.pcap
backend/uploads/*.pcapng
backend/uploads/*.pdf
*.pyc

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db
